body {
  background-color: #002e70;
  font-family: 'Space Grotesk', 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #0d141c;
}

a:hover {
  color: #0d141c;
  text-decoration: underline;
  cursor: pointer;
}

.layout-container {
  max-width: 1000px;
  margin: 0 auto;
}

.size-12 {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.1);
  border-radius: 8px;
}

